@model IEnumerable<SieveChat.Models.ChatMsg>
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FROM_USR</td>
                <td>@item.TO_USR</td>
                <td class="@(item.FROM_USR=="1"?"text-left":"text-right")">
                    @item.MSG_TEXT
                </td>
            </tr>
        }
    </tbody>
</table>

